amqp
asgiref
async-generator
async-timeout
attrs
billiard
bleach
celery
certifi
cffi
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-crispy-forms
django-markdownify
django-redis
django_debug_toolbar
exceptiongroup
h11
idna
iniconfig
kombu
Markdown
nose
outcome
packaging
Pillow
pluggy
prompt-toolkit
pycparser
PySocks
pytest
pytest-django
pytz
redis
selenium
six
sniffio
sortedcontainers
sqlparse
tinycss2
tomli
trio
trio-websocket
tzdata
urllib3
vine
wcwidth
webencodings
wsproto
gunicorn
psycopg2-binary
